# Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
*.iml
*.lock

# Firebase
google-services.json
GoogleService-Info.plist
firebase_options.dart

# Secrets
.env

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store
Thumbs.db
